# Django settings
DEBUG=True
SECRET_KEY=django-insecure-c_668-i28)m0=7(4v5alo%pgduzxmov@%r^8rb2z&2!qowt5os
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql://postgres:password@localhost:5432/leave_attendance_db
